.boxed { 
    position: relative;
    box-sizing: border-box;
    width: 2500x;
    height: 650px;
    background: #FFFFFF;
    border: 5px solid #3E0732;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
       }

.smallboxed { 
    position: relative;
    box-sizing: border-box;
    width: 750px;
    height: 550px;
    background: #FFFFFF;
    border: 5px solid #3E0732;
    border-radius: 20px;
    margin-top: -100px;
    margin-left: 100px;
    }

h1 { 
    position: relative;
    margin-left: 1050px;
    margin-top: 80px;
    text-decoration: underline #3E0732;
    font-family: cursive;
    color: #3E0732;
    font-size: 45px;
}

p {
    position: relative;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3E0732;
    margin-left: 1050px;
    margin-right: 75px;
    margin-top: -400px;
    text-align: justify;
}