h2 {
    position: absolute;
    width: 324px;
    height: 60px;
    left: 588px;
    top: 417px;

    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    color: #C847AB;
}

#p_1 {
    /* Praesent tellus purus, maximus vitae nisl ut, gravida bibendum mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam molestie sodales ex et tempus. Duis dapibus fermentum diam in cursus. Ut non sem est. Quisque eget mi auctor, mollis leo nec, pretium enim. Donec eleifend sem a commodo dictum. */


    position: absolute;
    width: 918px;
    height: 234px;
    left: 525px;
    top: 524px;


    text-align: justify;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #000000;

}

#p_2 {
    /* Praesent tellus purus, maximus vitae nisl ut, gravida bibendum mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam molestie sodales ex et tempus. Duis dapibus fermentum diam in cursus. Ut non sem est. Quisque eget mi auctor, mollis leo nec, pretium enim. Donec eleifend sem a commodo dictum. */

    position: absolute;
    width: 921px;
    height: 234px;
    left: 80px;
    top: 933px;
    text-align: justify;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #000000;
}

#p_3 {
    /* Praesent tellus purus, maximus vitae nisl ut, gravida bibendum mi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam molestie sodales ex et tempus. Duis dapibus fermentum diam in cursus. Ut non sem est. Quisque eget mi auctor, mollis leo nec, pretium enim. Donec eleifend sem a commodo dictum. */

    position: absolute;
    width: 918px;
    height: 234px;
    left: 528px;
    top: 1319px;
    text-align: justify;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #000000;

}
#image1 { 
position: relative;
width: 429px;
height: 264px;
left: 68px;
top: 501px;

background: url(image1.jpg);
border-radius: 20px;
}
#image2 { 
    position: relative;
    width: 418px;
    height: 279px;
    left: 600px;
    top: 902px;
    
    background: url(image_2.jpg);
    border-radius: 20px;
}
#image3 {
position: relative;
width: 412px;
height: 275px;
left: -776px;
top: 1298px;

background: url(image.png);
border-radius: 20px;
}
#H2 {
/* Our solution! */


position: absolute;
width: 242px;
height: 60px;
left: 629px;
top: 816px;

font-family: 'Lobster';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
/* identical to box height */


/* Primary Color */

color: #C847AB;
}

#H22 {
    position: absolute;
width: 144px;
height: 60px;
left: 678px;
top: 1213px;

font-family: 'Lobster';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 60px;
/* identical to box height */


/* Primary Color */

color: #C847AB;
}