h2 {
    position: relative;

    padding-top: 50px;
    margin-bottom: 50px;

    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    text-align: center;

    color: #C847AB;
}

p {
    display: block;
    position: relative;

    width: 100%;

    text-align: justify;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #000000;

}

.image-aligned-left { 
    display: block;
    position: relative;

    float: left;
    
    width: 429px;
    height: 264px;

    margin-right: 50px;

    border-radius: 20px;
}

.image-aligned-right { 
    display: block;
    position: relative;

    float: right;
    
    width: 429px;
    height: 264px;

    margin-left: 50px;

    border-radius: 20px;
}

.block {
    display: flow-root;
    position: relative;

    padding-top: 50px;
    padding-bottom: 50px;
}